# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# ======================================================
#	CPP: VISUAL STUDIO
# ======================================================
cpp/
!cpp/src
!cpp/Packer.sln
!cpp/Packer/Packer.vcxproj

# ======================================================
#	FLEX - FLASH BUILDER
# ======================================================
.settings/
bin/
bin-debug/
bin-release/
html-template/
*.actionScriptProperties
*.flexProperties
*.project
.DS_Store

# ======================================================
#	TYPESCRIPT
# ======================================================
ts/
!ts/src
!ts/bin
!ts/index.html
!ts/tsconfig.json