# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# ======================================================
#	CUSTOM
# ======================================================
*.bat
*.*ignore
.gitattribute
release/demo