# ======================================================
#  COMMON
# ======================================================
# ROOT DIRECTORIES TO EXCLUDE
.git
api\
cpp\
design\
doc\
ts\
node_modules\

# GLOBAL
*.bat
*.*ignore

# ======================================================
#  DEMO
# ======================================================
demo\.vs
demo\bin
demo\obj
demo\*.config
