.tabNavigator {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.tabNavigator_label {
  margin: 0;
  padding: 0;
}
.tabNavigator_label li {
  display: inline-block;
}
.tabNavigator_label li a {
  padding: 8px 12px;
  display: block;
  color: #444;
  text-decoration: none;
  border-bottom: 2px solid #f5f5f5;
}
.tabNavigator_label li a.active {
  border-bottom-color: #337ab7;
}
.tabNavigator_content {
  padding: 10px;
}